.container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:50px;
    padding:10px;

}

.task{
    display:flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 600px;
   padding:10px;
}

.row{
    display:flex;
    flex-direction: column;
    width:55vw;
}

.col{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}




.box{
    width:100px;
    height:50px;
    margin:10px;
}

input[type=text]{
    font-size: large;
}

.namebox{
    width:500px;
    height:50px;
    margin:10px;
}

.submit{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right:20px ;
    margin-top: 10px;
    padding:5px;
}

button{
    width:100px;
    height: 50px;
    border-radius: 10px;
    background-color: blue;
    color:black;
    font-weight: 500px;
    font-size: 20px;

}

.cvo{
    margin-left: 8px;
}





.cardnum{
    display:flex;
    flex-direction: row;
    max-width: fit-content;
    justify-content: center;
    align-items: center;
}


.display{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
   
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 750px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  