*{
  margin:0;
  padding:0;
  font-family: sans-serif;
}

.app{
  display:flex;
  width:100vw;
  height:auto;
  justify-content: center;
  align-items: center;
  flex-wrap: 1;
  background-color: whitesmoke;
}





